@import "../mixins"
@import "../variables"

.productsContainer
  width: 100%
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  gap: 8px 36px
  padding: 0 8px
  max-width: 1440px
  padding-bottom: 24px !important
  min-height: 500px
  @include slg
    padding: 0 24px
  @include lg
    gap: 6px 18px
    grid-template-columns: 1fr 1fr
  @include sm
    grid-template-columns: 1fr

