@import "../mixins"
@import "../variables"

.discountContainer
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 24px
  background-color: $Bunting
  gap: 16px
  @include md
    padding: 8px

  >div
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    &:first-child
      gap: 16px
      >div
        width: 24px
        height: 24px
        min-width: 24px
        min-height: 24px
        background-color: $orangePeel
        @include fullFlex
        font-family: Arial
        color: $white
        border-radius: 3px
        cursor: pointer
        margin-right: 36px
        @include md
          margin-right: 8px

      >p
        @include fontMedium
        word-spacing: 3px !important
        color: $white
        font-weight: 500
    &:last-child
      justify-content: flex-end
      @include md
        width: fit-content
      >button
        @include fontMedium
        color: white
        background-color: $orangePeel
        width: 100%
        max-width: 160px
        padding: 8px 0
        border-radius: 3px
        cursor: pointer
        transition: all .2s linear
        &:hover
          transform: scale(1.05)
          background-color: white
          color: $dark
        @include md
          font-size: 0.675rem
          padding: 4px
.hide
  display: none