@import "../mixins"
@import "../variables"
.filtersContainer
  width: 100%
  margin-bottom: 40px
  .filtersOptions
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    @include slg()
      padding: 0 40px
    @include md()
      padding: 0 16px
    .searchInput
      width: 100%
      display: flex
      padding: 0 20px 0 20px
      background-color: $white
      border: 1px solid $mercury
      border-radius: 100px
      align-items: center
      transition: all .2s linear
      max-width: 1400px
      margin-top: 40px
      &:hover
        box-shadow: 0 -1px 5px rgb(0 0 0 / 7%),0 5px 5px rgb(0 0 0 / 7%)
      >input
        background-color: $white
        width: 100%
        height: 100%
        @include fontMedium
        font-size: 1rem
        color: #666
        padding: 8px 0
        &::placeholder
          color: $nobel
          font-size: 0.75rem
      .icon
        font-size: 25px
        color: $nobel
        cursor: pointer
        transition: all .2s linear
        &:hover
          color: $dark
    .roles
      width: 100%
      margin-top: 40px
      max-width: 1440px
      @include md()
        margin-top: 30px
      >div
        display: flex
        align-items: center
        justify-content: space-between
        gap: 16px
        @include sm()
          display: grid
          justify-content: center
          align-content: center
          grid-template-columns: 1fr 1fr 1fr
          gap: 16px 8px
        >div
          @include fullFlex
          gap: 10px
          label
            @include fontTitle
            font-weight: 400 !important
            color: grey
            @include md()
              @include fontSubTitle
              color: grey
              min-width: max-content
        input[type='radio']
          -webkit-appearance: none
          border-radius: 45px !important
          outline: none
          width: 20px
          height: 20px
          box-shadow: 0 0 0 2px gray
          cursor: pointer
          margin: 0
          @include md()
            width: 16px
            height: 16px

        input[type='radio']:checked
          box-shadow: 0 0 0 2px #fea000

        input[type='radio']:before
          content: ''
          display: block
          width: 60%
          height: 60%
          margin: 18% auto
          border-radius: 100%
          @include sm()
            margin: 20% auto
        input[type='radio']:checked:before
          background: #fea000
      .rolesTitle
        @include fontTitle
        font-weight: 400 !important
        @include md()
          @include fontSubTitle
          color: grey
          min-width: max-content
  .lastSection
    width: 100%
    background: linear-gradient(90deg,#665d9b 0,#a46499 62%)
    padding: 30px
    @include fullFlex
    box-shadow: inset 0 135px 10px -10px rgb(0 0 0 / 16%)
    >div
      width: 100%
      max-width: 1300px
      @include fontTitle
      color: $white
      font-size: 1.5rem
