@import "../mixins"
@import "../variables"

.footerContainer
  width: 100%
  height: 100%
  background-color: $footerBg
  display: flex
  flex-direction: column
  align-items: center
  @include slg
    padding: 0 40px
  .topMenu
    max-width: 1300px
    width: 100%
    display: flex
    justify-content: space-between
    padding: 50px 0 30px 0
    border-bottom: 1px solid #5e5e5e
    @include customSize(860px)
      display: grid
      grid-template-columns: 4fr 1fr
      align-content: center
    @include sm
      grid-template-columns: 1fr
      gap: 16px

    .footerLogo
      width: 100%
      max-width: 100px
      @include lg
        max-width: 60px
      @include customSize(860px)
        margin: 0 auto
    >ul
      padding: 0
      display: flex
      gap: 24px
      list-style-type: none
      @include lg
        gap: 16px
      @include sm
        margin: 0 auto
      >li
        >a
          color: gray

  .bottomMenu
    width: 100%
    max-width: 1300px
    display: flex
    justify-content: space-between
    padding-top: 80px
    padding-bottom: 20px
    .socialMedia
      display: flex
      flex-direction: column
      gap: 8px
      >span
        &:nth-of-type(1)
          color: gray
        &:nth-of-type(2)
          display: flex
          gap: 16px
          .icon
            color: gray
