@import "../mixins"
@import "../variables"

.headerContainer
  width: 100%
  position: sticky
  top: 0
  left: 0
  z-index: 1000000000
  background-color: $white
  border-top: 2px solid $orangePeel


  .topSection
    width: 100%
    max-width: 1440px
    display: flex
    margin: 0 auto
    justify-content: space-between
    padding: 8px


    .logoContainer
      width: 100%
      display: flex
      max-width: fit-content
      flex-direction: row-reverse
      align-items: center
      gap: 24px
      .nav_icon
        font-size: 40px
        cursor: pointer
        display: none
        opacity: 0
        transition: all .2s linear
        @include lg
          display: block
          opacity: 1
      > span
        width: 100%
        display: block
        max-width: 60px
        min-width: 60px
        max-height: 60px

    .userInfo
      width: 100%
      display: flex
      align-items: center
      gap: 16px
      justify-content: flex-end
      @include md
        width: fit-content !important

      > div
        &:first-child
          position: relative
          display: flex
          align-items: center
          gap: 8px
          padding-left: 8px

          .icon
            font-size: 25px
            color: $nobel
            cursor: pointer
            transition: all .2s linear

            &:hover
              color: $dark

          &:after
            content: ""
            width: 2px
            height: 20px
            background-color: $nobel
            position: absolute
            left: 0
            top: 20%

        &:last-child
          display: flex
          align-items: center
          gap: 4px

          .icon
            font-size: 25px
            color: $nobel
            cursor: pointer
            transition: all .2s linear

            &:hover
              color: $dark

          > span
            width: 100%
            height: 100%
            max-height: 36px
            min-height: 36px
            max-width: 36px
            min-width: 36px


    .userInfo
      width: 100%

  .middleSection
    width: 100%
    @include fullFlex
    background-color: $nobel
    @include lg
      display: none

    > ul
      width: 100%
      @include fullFlex
      gap: 30px
      padding: 0

      > li
        @include fullFlex
        gap: 6px
        padding: 0
        cursor: pointer
        @include fontMedium
        font-size: 1rem
        color: $white
        transition: all .2s linear

        &:hover
          color: #3A3A3A

  .lastSection
    width: 100%
    background: linear-gradient(90deg, #665d9b 0, #a46499 62%)
    padding: 30px
    @include fullFlex
    box-shadow: inset 0 135px 10px -10px rgb(0 0 0 / 16%)

    > div
      width: 100%
      max-width: 1300px
      @include fontTitle
      color: $white
      font-size: 1.5rem


//mobile nav

.responsiveMenuContainer
  position: fixed
  top: 0
  right: 0
  width: 100%
  height: 100%
  transition: all .4s ease-out 0s
  z-index: 10000
  transform: translateX(100%)




.showMenuContainer
  @include lg
    transform: translateX(0)

.responsiveMenu
  width: 100%
  max-width: 280px
  position: fixed
  background-color: $mercury
  top: 0
  right: 0
  transform: translateX(280px)
  bottom: 0
  z-index: 100
  transition: all .2s linear
  display: none
  height: 100vh
  max-height: 100%


  @include customSize(1150px)
    display: flex
    flex-direction: column
.showMenu
  transform: translateX(0)
.sideBarText
  width: 100%
  transition: all .2s linear


.header
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  height: 60px
  padding: 16px
  border-bottom: 2px solid $nobel
  >span
    font-size: 1.4rem
    cursor: pointer
    font-weight: 700


  > div
    &:nth-of-type(1)
      display: flex
      align-items: center
      gap: 12px
      margin-right: 8px

      > span
        @include fontTitle
        color: gray
        font-size: 1.25rem
        @include customSize(1760px)
          font-size: 1rem

      > img
        width: 100%
        height: 100%
        max-width: 50px
        min-width: 50px
        max-height: 50px
        min-height: 50px
        @include customSize(1760px)
          max-width: 36px
          min-width: 36px
          max-height: 36px
          min-height: 36px


    &:nth-of-type(2)
      width: 100%
      max-width: 28px
      min-width: 28px
      cursor: pointer

.sidebarItemsContainer
  width: 100%
  padding: 20px
  margin-top: 8px

  > div
    width: 100%
    display: flex
    gap: 16px
    align-items: center
    height: 50px
    margin-bottom: 16px

    > img
      max-width: 32px
      width: 100%
      height: auto
      //min-width: 30px
      max-height: 32px
      cursor: pointer
      @include customSize(1760px)
        max-width: 26px
        min-width: 26px
        max-height: 26px
        min-height: 26px

    > span
      @include fontMedium
      font-size: 20px
      font-weight: 500
      cursor: pointer
      transition: all .2s linear
      @include customSize(1760px)
        font-size: 1rem

      &:hover
        padding-left: 10px

.menuFooter
  width: 100%
  display: flex
  gap: 8px
  align-items: center
  padding: 16px
  border-top: 2px solid #d3d3d3
  margin-top: auto

  > img
    width: 100%
    max-width: 51px
    @include customSize(1760px)
      max-width: 36px
      min-width: 36px


  > div
    width: 100%
    min-width: max-content

    > span
      margin: 0

      &:nth-of-type(1)
        @include fontMedium
        font-size: 1rem
        color: #343434

      &:nth-of-type(2)
        @include fontMedium
        font-size: 1.125rem
        color: #017efb
  .icon
    font-size: 20px

.openDesktopSidebar
  max-width: 289px !important
  @include customSize(1760px)
    max-width: 236px !important

  .sideBarText
    opacity: 1
    max-width: 100%

.dNone
  display: none

.main_container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.3)
  height: 100vh
  z-index: 1000
