@import "../mixins"
@import "../variables"
.container
  width: 100%
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center

  .main
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
