@import "../mixins"
@import "../variables"

.cardContainer
  width: 100%
  border: 1px solid rgb(230, 230, 230)
  border-top: 9px solid rgb(230, 230, 230)
  border-radius: 5px
  margin-top: 20px
  position: relative
  .autoUpdate
    width: 100%
    max-width: 60px
    max-height: 60px
    min-height: 60px
    position: absolute
    left: -10px
    top: -30px
    background-color: $beanRed
    z-index: 1000000
    @include fullFlex
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px

    &:after
      content: ""
      position: absolute
      left: 97%
      border-top: 28px solid transparent
      border-left: 22px solid $beanRed
      border-bottom: 30px solid transparent
    >div
      @include fontSubTitle
      color: $white
      @include fullFlex
      z-index: 10000

  .cardImage
    width: 100%
    border-bottom: 1px solid rgb(230, 230, 230)
    position: relative
    transition: all 0.4s ease 0s
    &:after
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0px, rgba(0, 0, 0, 0) 60%)
      opacity: 0
      transition: all .4s ease 0s
    .productInfo
      width: 100%
      display: flex
      position: absolute
      height: 100%
      top: 0
      left: 0
      align-items: flex-end
      padding: 16px
      z-index: 10000
      opacity: 0
      transition: all .4s ease 0s

      >div
        width: 100%
        height: fit-content
        display: flex
        align-items: center
        gap: 16px
        >span
          width: 100%
          display: block
          position: relative
          border-radius: 50%
          max-width: 50px
          min-width: 50px
          min-height: 50px
          max-height: 50px
          border: 2px solid $white
          img
            border-radius: 50%
        >div
          display: flex
          flex-direction: column
          gap: 8px
          >h4
            margin: 0
            @include fontTitle
            color: $white
          >p
            margin: 0
            @include fontSubTitle
            color: $white
  &:hover
    border-bottom: 0
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%)
    >div
      &:nth-of-type(2)
        >div
          box-shadow: 0 9px 12px rgb(0 0 0 / 15%)
          height: auto
          max-height: max-content
          overflow: hidden
          opacity: 1
          top: 100%
          z-index: 1000000000

    >.cardImage
        &:after,.productInfo
            opacity: 1

  >div
    &:nth-of-type(2)
      padding: 16px
      padding-bottom: 0

      >p
        @include fontMedium
        font-size: 1rem
        color: gray
        padding-bottom: 0
        line-height: 25px
      >div

        max-height: 40px
        overflow: hidden
        transition: all .3s ease-in-out 0s,opacity .1s linear
        position: absolute
        left: -1px
        right: -1px
        top: 90%
        opacity: 0
        border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
        background-color: $white
        border: 1px solid rgb(230, 230, 230)
        border-top: 0
        @include fullFlex
        flex-direction: column

        >span
          padding: 16px
          @include fontMedium
          color: gray
          line-height: 25px
          padding-top: 0
  .rate
    width: 100%
    display: grid
    grid-template-columns: 3fr 2.5fr
    padding: 8px
    border-top: 1px solid rgb(236, 236, 236)
    >div
      &:nth-of-type(1)
        width: 100%
        display: flex
        justify-content: space-between
        border-left: 1px solid rgb(236, 236, 236)
        padding-left: 8px
        >div
          @include fontSubTitle
          @include fullFlex
          color: rgb(179, 179, 179)
          >span
            color: rgb(102, 102, 102)
            margin-left: 4px

      &:nth-of-type(2)
        width: 100%

        @include fontSubTitle
        display: flex
        align-items: center
        justify-content: flex-end
        color: rgb(179, 179, 179)
        >span
          color: rgb(102, 102, 102)
          margin-left: 4px
  .cardCover
    width: 100%
    height: auto
    display: block
    max-width: 100%
    max-height: 100%
    min-width: 100%
    position: relative
    img
      width: 100%






