@import "variables"

@mixin fullFlex()
  display: flex
  align-items: center
  justify-content: center

@mixin font($fontSize: $fontSize ,$fontFamily: $fontFamily ,$fontWeight: $fontWeight ,$fontLineHeight: $fontLineHeight)
  font-size: $fontSize
  font-family: $fontFamily
  font-weight: $fontWeight
  line-height: $fontLineHeight


@mixin fontTitle()
  font-size: 1rem
  font-family: YekanBakhBold
  font-weight: 700
  line-height: 1.25rem
  color: $Emperor
  letter-spacing: 0 !important
  word-spacing: 0 !important

@mixin fontSubTitle()
  font-size: 0.875rem
  font-family: YekanBakhBold
  font-weight: 700
  line-height: 1.25rem
  color: $Emperor
  letter-spacing: 0 !important
  word-spacing: 0 !important


@mixin fontMedium()
  font-size: 0.75rem
  font-family: YekanBakhMedium
  font-weight: 500
  letter-spacing: 0 !important
  word-spacing: 0 !important
  line-height: 1.0rem
  color: $Emperor


@mixin textOverFlow()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  padding-left: 15px

// btn
@mixin btnOk()
  @include fontNormal
  border-radius: 8px
  color: #E0E5F2
  background-color: var(--Bunting)
  transition: all 0.3s ease
  cursor: pointer
  &:hover
    background-color: #E0E5F2
    color: var(--Bunting)

@mixin btnCancel()
  @include fontNormal
  border-radius: 8px
  color: var(--Bunting)
  background-color: #E0E5F2
  transition: all 0.3s ease
  cursor: pointer
  &:hover
    background-color: var(--Bunting)
    color: #E0E5F2


// responsive
@mixin sm()
  @media only screen and (max-width: $breakpoint-sm)
    @content

@mixin md()
  @media only screen and (max-width: $breakpoint-md)
    @content

@mixin lg()
  @media only screen and (max-width: $breakpoint-lg)
    @content

@mixin xl()
  @media only screen and (max-width: $breakpoint-xl)
    @content

@mixin slg()
  @media only screen and (max-width: $breakpoint-slg)
    @content

@mixin max-width()
  max-width: $maxWidth

//custom size for responsive

@mixin customSize($size)
  @media only screen and (max-width: $size)
    @content

