@import "variables"
@import "mixins"

@font-face
  font-family: "YekanBakhLight"
  font-style: normal
  font-weight: 400
  src: url("../assets/fonts/yekanBakh/YekanBakhLight.ttf") format("truetype")

@font-face
  font-family: "YekanBakhBold"
  font-style: normal
  font-weight: 400
  src: url("../assets/fonts/yekanBakh/YekanBakhBold.ttf") format("truetype")

@font-face
  font-family: "YekanBakhMedium"
  font-style: normal
  font-weight: 400
  src: url("../assets/fonts/yekanBakh/YekanBakhMedium.ttf") format("truetype")

@font-face
  font-family: "YekanBakhRegular"
  font-style: normal
  font-weight: 400
  src: url("../assets/fonts/yekanBakh/YekanBakhRegular.ttf") format("truetype")

// root
\:root
  --gallery : #EAEAEA
  --Bunting : #16284C
  --DustyGray : #949494
  --Scorpion : #585858
  --Nobel : #B4B4B4
  --white: var(--gallery)
  --black: #2C2C2C
  --MineShaft: #3A3A3A
  --background: var(--gallery)
  --pageMaxWidth: 1280px
  --fontcolor: var(--Scorpion)
  --fontcolorContrast: var(--gallery)
  --fontcolorChildTitle: var(--MineShaft)
  --fontcolorTitle: var(--Bunting)
  --fontcolorLite: var(--DustyGray)
  --: var(--Cherrywood)
  --btnOk: var(--Bunting)
  --btnOkHover: var(--gallery)
  --btnCancel: var(--Nobel)
  --btnCancelHover: var(--Bunting)

  --dashboard-backgroand: #FCFDFF
  --dashboard-padding: 30px
  --dashboard-backgroand-navbar: #FFFFFF
  --dashboard-max-with: 1313px

  --footerBackground: var(--Heather)

  --ReactInputVerificationCode-itemWidth: 3rem !important
  --ReactInputVerificationCode-itemHeight: 3rem !important
  --ReactInputVerificationCode-itemSpacing: 3rem !important



#__next
  background-color: #FFFFFF
*,
::after,
::before
  box-sizing: border-box
  word-spacing: 2px
  //font-family: $fontFamily
  //appearance: none
  //-moz-appearance: none
  //-webkit-appearance: none
  border: none
  background-color: transparent
  outline: none
  box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none

html
  -ms-content-zooming: none
  -ms-touch-action: pan-x pan-y

html,
head,
body
  touch-action: none
  -ms-touch-action: none
  font-family: $fontFamily
  margin: 0
  padding: 0
  direction: rtl
//font-size: 18px
//@media (max-width: $breakpoint-xl)
//  font-size: 16px
//@media (max-width: $breakpoint-lg)
//  font-size: 14px

body
  touch-action: pan-y pan-x
  width: 100%
  height: 100%

h1, h2, h3, h4, h5, h6, input, textarea
  font-family: $fontFamily !important

h1
  font-weight: 800
h2
  font-weight: 750
h3
  font-weight: 700
p
  font-weight: 400
  margin: 10px 0
a
  text-decoration: none

//
//*
//  @include lg()
//    font-size: 0.8em !important
//  @include md()
//    font-size: 0.7em !important
//  @include sm()
//    font-size: 0.6em !important

.rtl
  direction: rtl !important
.ltr
  direction: ltr !important
input
  background: #F5F8FC
  border-radius: 8px !important
  //max-height: 36px
input[type=range]
  height: 24px
  -webkit-appearance: none
  margin: 10px 0
  width: 100%
  direction: ltr

input[type=range]:focus
  outline: none

textarea
  background: #F5F8FC
  border-radius: 8px
  resize: none

input[type=range]::-webkit-slider-runnable-track
  width: 100%
  height: 7px
  cursor: pointer
  animate: 0.2s
  box-shadow: 0 0 0 #000000
  background: #C4C4C4
  border-radius: 10px
  border: 0 solid #000000

input[type=range]::-webkit-slider-thumb
  box-shadow: 0 0 3px #000000
  border: 0 solid #000000
  height: 18px
  width: 18px
  border-radius: 50px
  background: #621620
  cursor: pointer
  -webkit-appearance: none
  margin-top: -5.5px

input[type=range]:focus::-webkit-slider-runnable-track
  background: #C4C4C4

input[type=range]::-moz-range-track
  width: 100%
  height: 7px
  cursor: pointer
  animate: 0.2s
  box-shadow: 0 0 0 #000000
  background: #C4C4C4
  border-radius: 10px
  border: 0 solid #000000

Select
  width: 100%
  min-height: 76px !important
  border: 1px solid #E7EEFB
  border-radius: 8px
input[type=range]::-moz-range-thumb
  box-shadow: 0 0 3px #000000
  border: 0 solid #000000
  height: 18px
  width: 18px
  border-radius: 50px
  background: #621620
  cursor: pointer

input[type=range]::-ms-track
  width: 100%
  height: 7px
  cursor: pointer
  animate: 0.2s
  background: transparent
  border-color: transparent
  color: transparent

input[type=range]::-ms-fill-lower
  background: #C4C4C4
  border: 0 solid #000000
  border-radius: 20px
  box-shadow: 0 0 0 #000000

input[type=range]::-ms-fill-upper
  background: #C4C4C4
  border: 0 solid #000000
  border-radius: 20px
  box-shadow: 0 0 0 #000000

input[type=range]::-ms-thumb
  margin-top: 1px
  box-shadow: 0 0 3px #000000
  border: 0 solid #000000
  height: 18px
  width: 18px
  border-radius: 50px
  background: #621620
  cursor: pointer

input[type=range]:focus::-ms-fill-lower
  background: #C4C4C4

input[type=range]:focus::-ms-fill-upper
  background: #C4C4C4

